* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #4d4de43f;
  height: 100dvh;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  padding: 0.75em;
  background-color: #4d4de43f;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ol {
  list-style-type: none;
}

img {
  text-align: center;
  border-radius: 50%;
}

footer {
  /* pushes footer to bottom */
  margin-top: auto;
  text-align: center;
  color: #ffffff;
  background-color: #222222;
  padding: 2em;
}

/* Typography */
h2 {
  background-color: #ffff00;
  padding: 0.75em;
  margin-bottom: 0.75em;
}

.sub-heading {
  text-align: center;
  margin-bottom: 2em;
}

.para {
  font-size: 1.5rem;
}

.breaking-news {
  justify-self: center;
  width: 300px;
  line-height: 1.5em;
  margin-bottom: 2.5em;
  padding-top: 4.5em;
}

.most-read-para {
  margin-bottom: 1.4em;
}

.modal-container {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: coral;
  width: 200px;
  height: 200px;
}

.btn-container {
  text-align: center;
  margin-bottom: 0.75em;
}

.btn {
  background-color: #ee0f0f;
  padding: 0.75em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
}

.btn:hover {
  font-size: 1.5rem;
}

.btn:active {
  background-color: #e69a9a;
}
